body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #333;
    color: white;
}

header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav{
    overflow: hidden;
    background-color: black;
}

.nav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover{
    background-color: #ddd;
    color: black;
}
.nav a.active{
    background-color: #04aa6d;
    color: white;
}
h1{
    color: #04aa6d;
    overflow: hidden;
    border-right: .15em solid 333;
    white-space: nowrap;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    letter-spacing: .15em;
    animation: 
    typing 3.5s steps(40, end);
    /* blink-caret .75s step-end infinite; */
}
@keyframes typing{
    from{width: 0}
    to{width: 100%}
}
h2{
    color: #04aa6d;
}
.intro{
    text-align: center;
}
